<div class="calculator__name">MÉTODOS NUMÉRICOS</div>

<div class="container">
    <div class="myContainer">
        <div class="text">
            <h1>{{calculator.name}}</h1>
            <p>{{calculator.description}}</p>
        </div>
        <div *ngIf="calculator.downloadLink.length == 1" class="container_download"> 
            <a *ngFor="let link of calculator.downloadLink" class="myButton" [href]=link
                download=''>Descargar</a>
        </div>
        <div *ngIf="calculator.downloadLink.length>1" class="container_download"> 
            <a *ngFor="let link of calculator.downloadLink" class="myButton" [href]=link
                download=''>Descargar {{link.substr(0, link.length - 4).substr(8)}}</a>
        </div>
    </div>


</div>
